{% extends "_layouts/index.html" -%}

{% block search -%}
{{ search::input(name=name, title="user name", value=name) }}
{{ search::input(name=last_ip, title="Last login IP", value=last_ip) }}
{{ search::state(value=state) }}
{{ search::list(name="role_id", title="Role", data=roles, value=role_id) }}
{{ search::range_date(name="last_login", title="Log in time", value_start=last_login_start, value_end=last_login_end) }}
{{ search::range_date(name="created", title="Registration time", value_start=created_start, value_end=created_end) }}
{{ search::range_date(name="updated", title="Change the time", value_start=updated_start, value_end=updated_end) }}
{% endblock search -%}

{% block options %}
{{option::delete_all()}} {{option::add(height=450)}} 
{% endblock options -%}

{% block content -%}
<table class="layui-table layui-form">
<thead>
    <tr>
        <th style="width: 40px"> <input type="checkbox" name=""  lay-skin="primary"> </th>
        <th class="row-id">ID</th>
        <th>Name</th>
        <th>Last login IP</th>
        <th>Status</th>
        <th>Role</th>
        <th>Login counts</th>
        <th>Last login</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
    </tr>
    <tbody>
    {% for r in records -%}
    <tr>
        <td> <input type="checkbox" name=""  lay-skin="primary"> </td>
        <td>{{ r.id }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.last_ip }}</td>
        <td>{{ r.state|state_name }}</td>
        <td>{{ r.role_id|admin_role }}</td>
        <td>{{ r.login_count }}</td>
        <td>{{ r.last_login|date(format="%Y-%m-%d %H:%M") }}</td>
        <td>{{ r.created|date(format="%Y-%m-%d %H:%M") }}</td>
        <td>{{ r.updated|date(format="%Y-%m-%d %H:%M") }}</td>
        <td class="td-manage"> {{ option::update(id=r.id, height=600) }} | {{ option::delete(id=r.id) }} </td>
    </tr>
    {% endfor -%}
    </tbody>
</thead>
</table>
{% endblock content -%}
