{% extends "_layouts/index.html" -%}

{% block search -%}
    {{ search::input(name="name", title="Navigation name", value=name) }}
    {{ search::input(name="url", title="URL", value=url) }}
    {{ search::yes_no(name="is_blank", title="External link", value=is_blank) }}
{% endblock search -%}

{% block options -%}
    {{ option::delete_all() }} {{ option::add(height=500) }} 
{% endblock options -%}

{% block content -%}
    <table class="layui-table layui-form">
        <thead>
            <tr>
                <th style="width: 40px"> <input type="checkbox" name=""  lay-skin="primary"> </th>
                <th class="row-id">ID</th>
                <th>Navigation name</th>
                <th>URL</th>
                <th>External link</th>
                <th>Remark</th>
                <th>Sort</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for r in records -%}
            <tr>
                <td> <input type="checkbox" name=""  lay-skin="primary"> </td>
                <td>{{ r.id }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.url }}</td>
                <td>{{ r.is_blank | yes_no }}</td>
                <td>{{ r.remark }}</td>
                <td>{{ r.seq }}</td>
                <td class="td-manage"> {{ option::update(id=r.id, height=450) }} | {{ option::delete(id=r.id) }} </td>
            </tr>
            {% endfor -%}
        </tbody>
    </table>
{% endblock content -%}
